<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Termino y condiciones</title>
</head>
<body>
    <p>
        Política de privacidad
        ProGamer como titular del sitio web www.ProGamer.com informa a los usuarios del mismo de que es responsable de los tratamientos que se realicen en dicho portal, salvo que se informe algo distinto en el tratamiento de que se trate.
        
        ProGamer respeta la legislación vigente en materia de protección de datos personales, la privacidad de los usuarios y el secreto y seguridad de los datos personales, de conformidad con lo establecido en la legislación aplicable en materia de protección de datos, en concreto el Reglamento 2016/679 del Parlamento Europeo y del Consejo de 27 de abril de 2016, adoptando para ello las medidas técnicas y organizativas necesarias para evitar la pérdida, mal uso, alteración, acceso no autorizado y robo de los datos personales facilitados, habida cuenta del estado de la tecnología, la naturaleza de los datos y los riesgos a los que están expuestos.
        
        Se informa a los usuarios de este sitio web de que sus datos de carácter personal sólo podrán obtenerse para su tratamiento cuando sean adecuados, pertinentes y no excesivos en relación con el ámbito y las finalidades determinadas, explícitas y legítimas para las que se hayan obtenido.
        
        Cuando se recaben datos personales a través de ésta página web, se informará previamente al usuario, de forma clara e inequívoca, de los siguientes extremos:
        
        existencia de un tratamiento de datos de carácter personal,
        la identidad y los datos de contacto del Responsable del Tratamiento de los datos personales obtenidos,
        los datos de contacto del Delegado de Protección de Datos,
        los fines del tratamiento a que se destinan los datos personales y la base jurídica del tratamiento,
        los destinatarios o las categorías de destinatarios de los datos personales, en su caso,
        si hubiera intención de transferir datos personales a un tercer país,
        el plazo o los criterios de conservación de la información,
        la existencia del derecho a solicitar al responsable del tratamiento el acceso a los datos personales relativos al interesado, y su rectificación o supresión, o la limitación de su tratamiento, el derecho a la portabilidad de los datos, o a oponerse al tratamiento. Asimismo, la manera de ejercitar los mencionados derechos;
        cuando el tratamiento esté basado en el consentimiento del interesado, la existencia del derecho a retirar el consentimiento en cualquier momento, sin que ello afecte a la licitud del tratamiento basado en el consentimiento previo a su retirada. Si el tratamiento no está basado en el consentimiento, su derecho a ejercer la oposición al tratamiento;
        el derecho a presentar una reclamación ante una autoridad de control,
        la existencia, de decisiones automatizas, si las hubiera, incluida la elaboración de perfiles y el ejercicio de derechos asociados a dicho tratamiento.
        En particular, cuando se recaben datos de personas menores de edad, el tratamiento únicamente se considerará lícito si el consentimiento lo dio o autorizó el titular de la patria potestad o tutela sobre los mismos.
        
        El usuario será el único responsable a causa de la cumplimentación de los formularios con datos falsos, inexactos, incompletos o no actualizados.
    </p>
</body>
</html>
