<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/productCart.css">
    <title>Carrito de Compras</title>
</head>

<body>

    <header><!--logo,barra de navegacion,busqueda,login,carrito de compras,liks de enlaces-->
        <div class="logo">
            <a href="/"><img class="logo" src="/images/logo ecomerce.jpg" alt="logo"></a>
        </div>
        <!-- menu de hamburguesa-->
        <div class="hamburguer-container">
            <a href="#" class="hamburguer button">
                <i class="fas fa-bars"></i>
            </a>
        </div>
        <div class="top-bar">
            <div class="input-glass">
                <div class="input-search"> <!-- input buscador -->
                    <input class="search" type="text" placeholder="buscar">
                </div>
                <a href="#" class="glass button"> <!--boton lupa -->
                    <i class="fa-solid fa-magnifying-glass"></i>
                </a>
            </div>
            <div class="user-cart">
                <a href="/login" class="user button"> <!--boton usuario -->
                    <i class="fa-solid fa-user"></i>
                </a>

                <a href="/productCart" class="cart button"> <!-- carrito de compras -->
                    <i class="fa-solid fa-cart-shopping"></i>
                </a>
            </div>
        </div>

        <nav>
            <ul class="links-busquedas">

                <li><a href="#">Notebooks</a></li>
                <li><a href="#">Computadores</a></li>
                <li><a href="#">Conponentes de PC</a></li>
                <li><a href="#">Monitores</a></li>
                <li><a href="#">Consolas</a></li>

            </ul>
        </nav>
    </header>


    <main id="productCart">
        <!-- tiulo: Mi Compra -->
        <h2 id="tituloMiCompra">Mi Compra</h2>

        <!-- Detalle de la compra -->
        <div id="container--buyToDesktop">
            <!-- imagen del Producto -->
            <article class="product--container">
                <div class="photo--container">
                    <img class="product--container__image" src="/images/monitor.jpg" alt="imagen de monitor">
                    <i class="fa-regular fa-circle-xmark"></i>
                </div>

                <!-- Cajas con detalles del producto -->

                <div class="box--container__productAndDetail">

                    <span class="span--left">
                        <h3 class="h3-tittle h3-productName">
                            Producto
                        </h3>
                    </span>

                    <span class="span--right">
                        <p class="p-productDetail">Detalle del producto.</p>
                        <h4 class="h4-productCode">codigo del producto: XXXX</h4>
                    </span>
                </div>

                <!--Cantidad de Elementos  -->
                <div class="box--container">

                    <span class="span--left">
                        <h3 class="h3-tittle h3-amount">Cantidad</h3>
                    </span>

                    <span class="span--right">

                        <div class="box--button__rest">
                            <button class="button--rest">
                                -
                            </button>

                            <input type="number" class="input--amount" placeholder="1">

                            <button class="button--add">
                                +
                            </button>
                        </div>
                    </span>
                </div>

                <!-- Precio por unidad -->
                <div class="box--container">

                    <span class="span--left">

                        <h3 class="h3-tittle h3-priceByUnit">
                            $ Unit.
                        </h3>
                    </span>

                    <span class="span--right">
                        <p>12.345,67</p>

                    </span>

                </div>

                <!-- subtotal -->
                <div class="box--container">
                    <span class="span--left">

                        <h3 class="h3-tittle h3-subtotal">
                            $ Subtotal
                        </h3>
                    </span>

                    <span class="span--right">
                        <p>
                            12.345,67
                        </p>
                    </span>
                </div>


            </article>

            <!-- Sección de finalizar compra -->
            <!-- versión Desktop-->
            <section id="toBuyDesktop">

                <div> Subtotal: $ 12.345,67</div>

                <a href="" class="payForm">Ver medios de pago</a>

                <a href="" class="payForm">Ver forma de entrega</a>

                <button>
                    <a href="" id="btnBuy">Comprar</a>
                </button>

            </section>
        </div>
        <!-- Boton Agregar al Carrito -->
        <button class="addToCart">
            <a href="/">Agregar mas productos</a>
        </button>

<!-- seccion de finalizar compra -->
        <!-- versión Mobile y Tablet-->
        <section class="toBuy">

            <div> Subtotal: $ 12.345,67</div>

            <a href="" class="payForm">Ver medios de pago</a>

            <a href="" class="payForm">Ver forma de entrega</a>

            <button>
                <a href="" id="btnBuy">Comprar</a>
            </button>

        </section>

        <!-- También te puede interesar -->
        <section class="title-section">
            <div class="title-container">

                <h2>
                    Productos destacados
                </h2>

                <hr>
            </div>
        </section>
        <section class="porducts-offerts">
            <article class="product">
                <div class="photo-container">
                    <a href="/productDetail">
                        <img src="images/monitor.jpg" alt="notebook">
                    </a>
                    <!-- moto ofert y heard -->
                    <i class="fa-regular fa-heart"></i>
                </div>
                <a href="/productDetail">
                    <h3>Nombre del producto</h3>
                </a>
                <div class="price-product">
                    <h3>$XXX</h3>
                    <!-- <span class="numb-offert">20% OFF</span> -->
                </div>
                <p>envio gratis...</p>
            </article>
            <article class="product">
                <div class="photo-container">
                    <a href="/productDetail">
                        <img src="images/monitor.jpg" alt="notebook">
                    </a>
                    <!-- moto ofert y heard -->
                    <i class="fa-regular fa-heart"></i>
                </div>
                <a href="/productDetail">
                    <h3>Nombre del producto</h3>
                </a>
                <div class="price-product">
                    <h3>$XXX</h3>
                    <!-- <span class="numb-offert">20% OFF</span> -->
                </div>
                <p>envio gratis...</p>
            </article>
            <article class="product">
                <div class="photo-container">
                    <a href="/productDetail">
                        <img src="images/monitor.jpg" alt="notebook">
                    </a>
                    <!-- moto ofert y heard -->
                    <i class="fa-regular fa-heart"></i>
                </div>
                <a href="/productDetail">
                    <h3>Nombre del producto</h3>
                </a>
                <div class="price-product">
                    <h3>$XXX</h3>
                    <!-- <span class="numb-offert">20% OFF</span> -->
                </div>
                <p>envio gratis...</p>
            </article>
        </section>
        
    </main>

    <footer>

        <div class="footer-align">
            <div class="container-1">
                <p class="app-social">
                    seguinos en nuestras redes sociales
                </p>
                <nav class="icons-social">
                    <ul class="link-social">
                        <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-square-twitter"></i></a></li>
                    </ul>
                </nav>
                <div class="contact">
                    <p>
                        contacto:
                    </p>
                    <p>
                        horarios de atencion
                    </p>
                    calle/direccion/telefono
                </div>
            </div>

            <article class="container-2">
                <p>Sobre nosotros</p>
                <p>Pro Gamer</p>
                <p>Es un e-comerce pensado para ofrecer articulos y elementos de tecnologia.
                    una de nuestras caracteristicas es ofrecer combos u ofertas de articulos variados para todo tipo de
                    usuarios
                </p>
                <div class="logo-footer">
                    <img src="/images/logo ecomerce.jpg" alt="logo">
                </div>
            </article>
        </div>
        <div class="footer-container3">

            <a href="#" class="qr">
                <img class="qr-img" src="/images/codigo-qr.png" alt="qr">
            </a>

            <nav>
                <ul class="nav-container">
                    <li class="init"><a href="/index">Volver a inicio</a></li>
                    <li class="aswers"><a href="#">Dejanos tus dudas</a></li>
                    <p class="text-copyright">Todos los derechos reservados</p>
                    <li class="tyc"><a href="#">terminos y condiciones</a></li>

                </ul>
            </nav>
        </div>




    </footer>


</body>

</html>