<div class="accordion" id="accordionExample">
    <div class="accordion-item p-2">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button p-1 " type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <p class="filtrarPorCategoria mt-3 ">
            Filtrar por categorias
          </p>
          </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <ul>
            <li><a href="/products">Todos los productos</a></li>
            <li><a href="/products/categories/1">Notebook</a></li>
            <li><a href="/products/categories/2">Computadoras</a></li>
            <li><a href="/products/categories/3">Componentes de PC</a></li>
            <li><a href="/products/categories/4">Monitores</a></li>
            <li><a href="/products/categories/5">Consolas</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>