
    <footer>

        <div class="footer-align">
            <div class="container-1">
                <p class="app-social">
                    seguinos en nuestras redes sociales
                </p>
                <nav class="icons-social">
                    <ul class="link-social">
                        <li><a href="https://www.facebook.com" target="_blank"><img src="/images/facebook.png" alt="facebook" width="40px"></a></li>
                        <li><a href="https://www.instagram.com" target="_blank"><img src="/images/instagram.png" alt="instagram" width="40px"></i></a></li>
                        <li><a href="https://www.linkedin.com" target="_blank"><img src="/images/linkedin.png" alt="linkedin" width="40px"></a></li>
                        <li><a href="https://wa.me/+001-(555)1234567"><img src="/images/whatsaap.png" alt="whatsapp" width="40px"></a></li>
                    </ul>
                </nav>
                <div class="contact">
                    <p>
                        contacto:
                    </p>
                    <p>
                        horarios de atencion
                    </p>
                    calle/direccion/telefono
                </div>
            </div>

            <article class="container-2">
                <p>Sobre nosotros:</p>
                <p>Pro Gamer</p>
                <p>Es un e-comerce pensado para ofrecer articulos y elementos de tecnologia.
                    una de nuestras caracteristicas es ofrecer combos u ofertas de articulos variados para todo tipo de
                    usuarios
                </p>
                <div class="logo-footer">
                    <img src="/images/logo ecomerce.jpg" alt="logo">
                </div>
            </article>
        </div>
        <div class="footer-container3">

            <a href="#" class="qr">
                <img class="qr-img" src="/images/codigo-qr.png" alt="qr">
            </a>

            <nav>
                <ul class="nav-container">
                    <li class="init"><a href="/">Volver a inicio</a></li>
                    <li class="aswers"><a href="#">Dejanos tus dudas</a></li>
                    <p class="text-copyright">Todos los derechos reservados</p>
                    <li class="tyc"><a href="../" target="_blank"><p>Terminos y condiciones</p></a></li>

                </ul>
            </nav>
        </div>




    </footer>
 