<header>
  <!--logo,barra de navegacion,busqueda,login,carrito de compras,liks de enlaces-->
  <div class="logo">
    <a href="/"><img class="logo" src="/images/logo ecomerce.jpg" alt="logo"></a>
  </div>
  <!-- menu de hamburguesa-->
  <div class="hamburguer-container">
    <a href="#" class="hamburguer button">
      <i class="fas fa-bars"></i>
    </a>
  </div>
  <div class="top-bar">
    <div class="input-glass">
      <form action="/products/search" method="GET" class="form-header">
      <div class="input-search">
        <!-- input buscador -->
        <input class="search" type="text" placeholder="buscar" name="keywords">
      </div>
      <button class="glass button" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>
    </div>
    <div class="user-cart">
      <%if (typeof session.user != "undefined") {%>
        <a href="users/userHome" class="user button">
          <!--boton usuario -->
          <span class="user-session"></span>
          <i class="fa-solid fa-user"></i>
        </a>
        <div class="users-menu">
          <%if (session.user.category === "admin") {%>
            <a class="users-menu-links" href="/admin/home">Admin</a>
          <%}%>
          <a class="users-menu-links" href="users/userHome">Mis datos</a>
          <a class="users-menu-links" href="">Cerrar sesión</a>
        </div>
      <%}else {%>
        <a href="/users/login" class="user button">
          <i class="fa-solid fa-user"></i>
        </a>
      <%}%>

      <a href="/productDetail/productCart" class="cart button">
        <!-- carrito de compras -->
        <i class="fa-solid fa-cart-shopping"></i>
      </a>
    </div>
  </div>

  <nav>
    <ul class="links-busquedas">
      <li><a href="/products">Todos los productos</a></li>
      <li><a href="#">Notebooks</a></li>
      <li><a href="#">Computadores</a></li>
      <li><a href="#">Componentes de PC</a></li>
      <li><a href="#">Monitores</a></li>
      <li><a href="#">Consolas</a></li>

    </ul>
  </nav>
</header>