
<header><!--logo,barra de navegacion,busqueda,login,carrito de compras,liks de enlaces-->
    <div class="logo">
            <a href="/"><img class="logo" src="/images/logo ecomerce.jpg" alt="logo"></a>
    </div>
                         <!-- menu de hamburguesa-->
    <div class="hamburguer-container">
        <a href="#" class="hamburguer button"> 
        <i class="fas fa-bars"></i>
       </a>
    </div>
<div class="top-bar">  
 <div class="input-glass">
    <div class= "input-search">  <!-- input buscador -->
            <input class="search" type="text" placeholder="buscar">
    </div>
        <a href= "#" class="glass button">  <!--boton lupa -->
            <i class="fa-solid fa-magnifying-glass"></i>
        </a>
 </div>
 <div class="user-cart">
        <a href="/register/login" class="user button">  <!--boton usuario -->
            <i class="fa-solid fa-user"></i>
        </a>
    
         <a href="/productDetail/productCart" class="cart button"> <!-- carrito de compras -->
         <i class="fa-solid fa-cart-shopping"></i>
        </a>
 </div>
</div> 

    <nav>
         <ul class="links-busquedas">

            <li><a href="#">Notebooks</a></li> 
            <li><a href="#">Computadores</a></li> 
            <li><a href="#">Componentes de PC</a></li> 
            <li><a href="#">Monitores</a></li> 
            <li><a href="#">Consolas</a></li> 
                 
         </ul>
    </nav>
</header>
