<section class="porducts-offerts  js-flickity" data-flickity-options='{ "freeScroll": true, "watchCSS": true  }'>
    <article class="product carousel-cell">
        <div class="photo-container">
            <a href="/productDetail">
                <img src="images/monitor.jpg" alt="notebook">
            </a>
            <!-- moto ofert y heard -->
            <i class="fa-regular fa-heart"></i>
        </div>
        <a href="/productDetail">
            <h3>Nombre del producto</h3>
        </a>
        <div class="price">
            <h3>$XXX</h3>
            <span class="numb-offert">20% OFF</span>
        </div>
        <p>envio gratis...</p>
    </article>

    <article class="product carousel-cell">
        <div class="photo-container">
            <a href="/productDetail">
                <img src="images/monitor.jpg" alt="notebook">
            </a>
            <!-- moto ofert y heard -->
            <i class="fa-regular fa-heart"></i>
        </div>
        <a href="/productDetail">
            <h3>Nombre del producto</h3>
        </a>
        <div class="price">
            <h3>$XXX</h3>
            <span class="numb-offert">10% OFF</span>
        </div>
        <p>envio gratis...</p>
    </article>

    <article class="product carousel-cell">
        <div class="photo-container">
            <a href="/productDetail">
                <img src="images/monitor.jpg" alt="notebook">
            </a>
            <!-- moto ofert y heard -->
            <i class="fa-regular fa-heart"></i>
        </div>
        <a href="/productDetail">
            <h3>Nombre del producto</h3>
        </a>
        <div class="price">
            <h3>$XXX</h3>
            <span class="numb-offert">30% OFF</span>
        </div>
        <p>envio gratis...</p>
    </article>

</section>