@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;600;700&display=swap');

section.banner {
    overflow:hidden;
    margin: 0 auto;
    max-width: 1516px;
    
}
section.banner div.banner-select {
    width: 100%;
    display: flex;
    justify-content:start;
    animation: change  25s infinite alternate ;
    animation-timing-function:cubic-bezier(1, 0, 0, 1);
    
}
section.banner div.banner-select img.img-banner1, img.img-banner2, img.img-banner3 {
    width: 100%;
}

@keyframes change {
    
    0% {margin-left: 0;}
    35%{margin-left: 0;}
    40%{margin-left: -100%;}
    70%{margin-left: -100%;}
    75%{margin-left:  -200%;}
    100% {margin-left: -200%;}
}
/* ofertas */
section.title-section {
    margin: 10px 0 0 15px;
    
}
section.title-section div.title-container {
    display: flex;
    justify-content:center;
    align-items: center;
    margin-bottom: 25px;
    
    
}
section.title-section div.title-container a {
    width: 65px;
    margin:11px 2px 0 6px ;
    text-decoration: none;
    font-size: 0.65rem;
    letter-spacing: 0.4px;
    font-family: 'teko',sans-serif;
    color: var(--verde-oscuro);
}
section.title-section div.title-container  h2 {
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-size: 1.5rem;
    color: var(--crema);
}
section.title-section div.title-container hr {
    width: 100%; 
    height: 0;
    margin: 2px 0 0 5px;
    border: 0;
    box-shadow: 0 1px 2px 1px var(--crema);
    

}
/* productos */

section.porducts-offerts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    
}
section.porducts-offerts article.product {
    display: flex;
    flex-direction:column;
    padding: 0.5rem;
    margin-bottom: 2.3rem;
    max-width: 250px;
    border: none;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0.5px 0 6px 2px var(--verde-oscuro);
    transition: all 0.8s ease;
}
section.porducts-offerts article.product:hover {
    box-shadow: 6px 6px 16px var(--verde-oscuro);
}
section.porducts-offerts article.product div.photo-container {
    position: relative;
    display: flex;
    height: 190px;
    justify-content: center;
    align-items: center;
    margin: 10px 10px 5px 10px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 10px;
    transition: all 5ms ease;
}
section.porducts-offerts article.product div.photo-container:hover {
    border: none;
    box-shadow: 0.5px 0 6px 2px var(--verde-oscuro);
}
section.porducts-offerts article.product div.photo-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
section.porducts-offerts article.product div.photo-container i {
    position:absolute;
    top: 10px;
    right: 10px;
    font-size: 150%;
    opacity: 0.4;
}
section.porducts-offerts article.product div.photo-container i:hover{
    color: red;
    font-weight: bold;
    font-weight: none;
}
section.porducts-offerts article.product a h3 {
    padding-bottom: 0.3rem;
    margin-top: 0.2rem;
    margin-bottom: 0.4rem;
    text-align: center;
    color: var(--gris-claro);
    text-decoration: underline var(--verde-oscuro);
    transition: all 5ms ease;
}
section.porducts-offerts article.product a h3:hover{
    font-size: 1.2rem;
    
}
section.porducts-offerts article.product a {
    text-decoration: none;
}
section.porducts-offerts article.product div.price {
    display:flex;
    justify-content: center;   
    align-items: center;
    margin-left: 18px;
}
section.porducts-offerts article.product div.price span.numb-offert {
    font-size: 1rem;
    letter-spacing: 0.3px;
    font-family: "teko", sans-serif;
    font-weight: 600;
    color: var(--verde-oscuro);
}
section.porducts-offerts article.product div.price h3 {
    font-size: 30px;
    letter-spacing: 2px;
    font-family: "teko", sans-serif;
    color: var(--gris-claro);
    padding: 5px;
}
section.porducts-offerts article.product p {
    font-family: "teko", sans-serif;
    font-size: 1rem;
    letter-spacing: 0.5px;
    text-decoration: underline var(--gris-claro);
    color: var(--gris-claro);
}