main {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
section{
    font-family: var(--fuente-parrafos);
    width: 75%;
    max-width: 350px;
    margin:4rem 0 6.5rem 0;
    

}

a{
    color: black;
    font-size: 1rem;
    text-decoration: none;
}

.title{
    font-family: var(--fuente-titulos);
    margin-bottom: 1rem;
    text-align: center;
    text-decoration:underline;
    letter-spacing: 0.1rem;
    font-size: 1.5rem;
    color: var(--violeta-oscuro);
    text-shadow: 10px 3px 15px  rgba(64, 57, 74, 0.7);
}

.form-container{
    background-color: lightgray;
    padding: 1rem;
    border-radius: 0.8rem;
    box-shadow: 3px 3px 5px;
    width: 100%;
    transition: all .5s ease;
}
.form-container:hover{
    box-shadow: 3px 3px 7px 2px var(--verde-oscuro);
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.input-container,
.login-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    width: 100%;
    border: none;
}

.login-container{
    margin: 5px;
}

.input-email,
.input-clave{
    height: 2.5rem;
    padding: 0 0.5rem;
    border: none;
    border-radius: 8px;
    background-color: rgb(247, 245, 245);
    outline: none;
}
.input-email,
.input-clave:hover {
    color: lightgray;
}
.btn-login{
    border: none;
    align-items: center;
    padding: 0.3rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    font-family: var(--fuente-parrafos);
    font-size: 1.2rem;
    background-color: var(--crema);
    box-shadow: 0 0 10px var(--violeta-oscuro);
    margin-top: 1rem;
    color: var(--violeta-oscuro);
    text-shadow: 1px 1px 5px rgba(0,0,0,0.3);
    transition: all 1s ease;
}
.btn-login:hover{
    background-color: var(--violeta-oscuro);
    box-shadow: 0px 0 4px 2px var(--verde-oscuro);
    color: var(--crema);
    letter-spacing: 0.1rem;
    text-decoration: underline;
}

.span-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    
}
span{
    transition: all .5s ease;
}
span:hover{
    text-decoration:underline;
    letter-spacing: 0.05rem;
}

.button-redes{
    border: none;
    border-radius: 8px;
    padding: 0.5rem;
    height: 2.5rem;
    margin: 0.5rem;
    cursor: pointer;
    width: 219px;
    font-family: var(--fuente-parrafos);
    font-size: 1rem;
    font-weight: 400;
    box-shadow: 0 0 2px var(--violeta-oscuro);
    transition: all .5s ease;
}
.button-redes:hover{
    background-color:tomato;
    box-shadow: 0 0 10px var(--violeta-oscuro);
    text-decoration:underline;
    letter-spacing: 0.05rem;
}
.fa-facebook{
    color: blue;
    margin: 0 auto;
    padding-right: 0.5rem;
    font-size: 1.2rem;
}
i{
    position: relative;
    top: 0.1rem;
}
.fa-google{
    color: red;
    padding-right: 0.5rem;
    font-size: 1.2rem;
}
.button-redes:hover > .fa-google{
    color: blue;
}

/* @media screen and (min-width: 481px) {
    div.form-container {
        max-width: 420px;
        max-height: 360px;
    }
} */