* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    background-color: var(--violeta-oscuro);
}

main section#toBuyDesktop {
    display: none;
}

main#productCart {
    padding: 10px;
}

main h2#tituloMiCompra {
    margin-top: 15px;
    text-align: center;
    font-family: var(--titulos);
    color: var(--crema);
}

main article.product--container {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 3px;
    margin: 10px;
    border: 2px solid var(--verde-claro);
    box-shadow: 0.5px 0 6px 2px var(--verde-oscuro);
    border-radius: 10px;

}


main article.product--container div.photo--container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

main article.product--container div.photo--container img.product--container__image {
    width: 100%;
}

main article.product--container div i {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 20px;

}

/* producto y detalles */

/* div contendedor */

main div.box--container__productAndDetail {
    display: flex;
    margin-top: 10px;
    border: 1px solid black;
    width: 100%;
}



main span.span--left {
    display: flex;
    border-right: 1px solid black;
    width: 30%;
    padding-left: 3px;
    background-color: #e1dfdf;
}

main h3.h3-tittle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--fuente-titulos);
    font-size: 1rem;

}

main span.span--right {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 5px 0px;
    width: 70%;
    margin-top: 5px;
    margin-bottom: 5px;

}

main p {
    font-family: var(--fuente-parrafos);
    font-size: 1rem;
    text-align: center;
}


main h4.h4-productCode {
    font-family: var(--fuente-parrafos);
    font-size: 1rem;
    text-align: center;

}

/* Cantidad */

main div.box--container {
    display: flex;
    border: 1px solid black;
    width: 100%;
    margin-top: 1px;
}


main h3.h3-tittle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--fuente-titulos);
    font-size: 1rem;
}

main span.span--right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin-top: 10px;
    margin-bottom: 10px;

}

main div.box--button__rest {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 5px 0px;

}



main button.button--rest {
    width: 25px;
    border: 1px solid grey;
    box-shadow: 1px 1px 1px black;

}

main input.input--amount {
    text-align: center;
    border: none;
    width: 25px;

}

main button.button--add {
    width: 25px;
    border: 1px solid grey;
    box-shadow: 1px 1px 1px black;
}

/* Boton de agregar al carrito */

main#productCart button.addToCart {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--violeta-oscuro);
    border-radius: 25px;
    margin: 30px auto 0px;
    width: 60%;
    max-width: 300px;
    height: 60px;
    background-color: var(--crema);
    transition: 1s;

}

main#productCart button.addToCart:hover {
    border: 2px solid var(--verde-claro);
    box-shadow: 0.5px 0 6px 2px var(--verde-oscuro);
    background-color: var(--crema);

}

main#productCart button.addToCart a {
    font-family: var(--fuente-titulos);
    font-size: 1rem;
    text-decoration: none;
    color: var(--violeta-oscuro);
    font-weight: bold;

}

/* tambien te puede interezar */

section.title-section div.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 25px;


}

section.title-section div.title-container a {
    width: 65px;
    margin: 11px 2px 0 6px;
    text-decoration: none;
    font-size: 0.65rem;
    letter-spacing: 0.4px;
    font-family: var(--fuente-parrafos);
    color: var(--verde-oscuro);
}

section.title-section div.title-container h2 {
    font-family: var(--fuente-titulos);
    /* text-align: center; */
    font-size: var(--titulos);
    color: var(--crema);
}

section.title-section div.title-container hr {
    width: 100%;
    height: 0;
    margin: 2px 0 0 5px;
    border: 0;
    box-shadow: 0 1px 2px 1px var(--crema);


}

section.porducts-offerts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 30px auto;
    gap: 8%;

}

section.porducts-offerts article.product {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    margin-bottom: 2.3rem;
    max-width: 225px;
    max-height: 370px;
    border: none;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0.5px 0 6px 2px var(--verde-oscuro);
    transition: all 0.8s ease;
}

section.porducts-offerts article.product:hover {
    box-shadow: 6px 6px 16px var(--verde-oscuro);
}

section.porducts-offerts article.product div.photo-container {
    position: relative;
    display: flex;
    height: 190px;
    justify-content: center;
    align-items: center;
    margin: 10px 10px 5px 10px;
    padding: 5px;
    border: none;
    border-radius: 10px;
    transition: all 5ms ease;
}

section.porducts-offerts article.product div.photo-container:hover {
    border: none;
    box-shadow: 0.5px 0 6px 2px var(--verde-oscuro);
}

section.porducts-offerts article.product div.photo-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section.porducts-offerts article.product div.photo-container i {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 150%;
    opacity: 0.4;
    cursor: pointer;
}

section.porducts-offerts article.product div.photo-container i:hover {
    color: red;
    font-weight: bold;
    font-weight: none;
}

.active {
    color: red;
    font-weight: bold;
    font-weight: none;
}

section.porducts-offerts article.product a h3 {
    font-family: var(--fuente-titulos);
    font-size: 1.6rem;
    padding-bottom: 0.3rem;
    margin-top: 0.2rem;
    margin-bottom: 0.4rem;
    text-align: center;
    color: var(--gris-claro);
    text-decoration: underline var(--verde-oscuro);
    transition: all 5ms ease;
}

section.porducts-offerts article.product a h3:hover {
    font-size: 1.8rem;

}

section.porducts-offerts article.product a {
    text-decoration: none;
}

section.porducts-offerts article.product div.price {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 18px;
}

section.porducts-offerts article.product div.price-product {
    display: flex;
    justify-content: center;
    align-items: center;
}

section.porducts-offerts article.product div.price span.numb-offert {
    font-size: 1rem;
    letter-spacing: 0.3px;
    font-family: var(--fuente-parrafos);
    font-weight: 600;
    color: var(--verde-oscuro);
}

section.porducts-offerts article.product div h3 {
    font-size: 2rem;
    letter-spacing: 2px;
    font-family: var(--fuente-parrafos);
    color: var(--gris-claro);
    padding: 5px;
}

section.porducts-offerts article.product p {
    font-family: var(--fuente-parrafos);
    font-size: 1.1rem;
    letter-spacing: 0.5px;
    text-decoration: underline var(--gris-claro);
    color: var(--gris-claro);
}

/* Seccion de finalizar compra  */

main#productCart section.toBuy {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    padding: 10px;
    background-color: white;
    border: 2px solid var(--verde-claro);
    border-radius: 5px;
    box-shadow: 2px 2px px 2px var(--verde-oscuro);
}

main#productCart section.toBuy div {
    border: 1px solid black;
    padding: 3px;
    width: 60%;
    max-width: 350px;
    min-width: 200px;
    font-family: var(--fuente-titulos);
    font-weight: bold;

}

main#productCart section.toBuy a.payForm {
    margin: 8px 10px;
    padding: 5px;
    text-decoration: none;
    width: 80%;
    max-width: 350px;
    box-shadow: 0px 1px 2px black;
    color: black;

}

main#productCart section.toBuy button {
    background-color: var(--crema);
    margin-top: 15px;
    font-size: 40px;
    width: 70%;
    height: 3.5rem;
    max-width: 200px;
    border-radius: 25px;
    border: 2px solid var(--violeta-oscuro);
}

main#productCart section.toBuy button:hover {
    border: 2px solid white;
    box-shadow: 0.5px 0 6px 2px var(--verde-oscuro);

}

main#productCart section.toBuy a#btnBuy {
    margin: 8px 10px;
    padding: 5px;
    text-decoration: none;
    color: var(--violeta-oscuro);
    font-family: var(--fuente-parrafos);
}


/* Tablets y Large Smarphones */

@media (min-width: 481px) {

    main#productCart article.article {
        max-width: 25%;
    }

    main#productCart article.article4 {
        display: none;
    }

}

@media (min-width: 769px) {

    main h2#tituloMiCompra {
        margin-left: 15px;
        text-align: left;
        font-family: var(--fuente-titulos);
        font-size: var(--titulos);
        margin-bottom: 15px;

    }

    main div#container--buyToDesktop {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    main article.product--container {
        display: flex;
        flex-direction: row;
        padding: 0px;
        width: 60%;

    }

    main#productCart section.toBuy {
        display: none;
    }


    main#productCart section#toBuyDesktop {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 0px;
        width: 30%;
        background-color: white;
        border-radius: 5px;
        border: 1px solid var(--verde-claro);
        box-shadow: 0.5px 0 6px 2px var(--verde-oscuro);
        padding: 10px;
    }

    main#productCart section#toBuyDesktop div {
        border: 1px solid black;
        padding: 3px;
        width: 60%;
        min-width: 200px;
        font-family: var(--fuente-titulos);
        font-weight: bold;

    }

    main#productCart section#toBuyDesktop a.payForm {
        margin: 8px 10px;
        padding: 5px;
        text-decoration: none;
        width: 80%;
        color: black;
        box-shadow: 0px 1px 2px black;
    }

    main#productCart section#toBuyDesktop button {
        border: none;
        align-items: center;
        padding: 0.5rem;
        border-radius: 8px;
        font-weight: 600;
        text-transform: uppercase;
        cursor: pointer;
        font-family: var(--fuente-parrafos);
        font-size: 1.2rem;
        background-color: var(--crema);
        box-shadow: 0 0 10px var(--violeta-oscuro);
        margin-top: 1rem;
        color: var(--violeta-oscuro);
        text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
        transition: all 1s ease;
    }

    main#productCart section#toBuyDesktop button:hover {
        background-color: var(--violeta-oscuro);
        box-shadow: 0px 0 4px 2px var(--verde-oscuro);
        letter-spacing: 0.1rem;
        text-decoration: underline;

    }

    main#productCart section#toBuyDesktop button a#btnBuy {
        color: var(--violeta-oscuro);
        text-decoration: none;
        font-family: var(--fuente-parrafos);
    }

    main#productCart section#toBuyDesktop button a#btnBuy:hover {
        color: var(--crema);
    }



    main article.product--container div.photo--container {
        width: auto;

    }

    main article.product--container div i {
        display: none;

    }

    main div.box--container__productAndDetail {
        display: flex;
        flex-direction: column;
        margin-top: 0px;
        border: 1px solid black;
        width: 20%;
        border: none;
    }

    main span.span--left {
        display: flex;
        justify-content: center;
        border-right: none;
        border-bottom: 1px solid black;
        width: 100%;
        padding-left: 3px;
    }

    main span.span--right {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;

    }

    main div.box--container {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 0px;
        border: none
    }

    main div.box--button__rest {
        margin: 50%;

    }

    main div.box--container p {
        margin: 50%;
    }

}