main#productDetail section.imagenes-detalles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

main#productDetail div.card {
    width: 100%;
    padding: 15px;
    margin: 20px;
    height: 600px;
}

main#productDetail img {
    height: 500px;
}

main#productDetail div.detalles {
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
    width: 100%;

}

main#productDetail div.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

main#productDetail div button.btn-primary {
    margin-top: 20px;

}



@media(min-width: 700px) {
    main#productDetail section.imagenes-detalles {
        display: flex;
        flex-direction: row;
    }
    
    main#productDetail div.card {
        width: 55%;
        margin: 20px;
    }
    
    main#productDetail div.detalles {
        width: 45%;
        height: 600px;
        overflow-y: scroll;
        margin: 20px;
        
    }
}