main#productDetail  li {
  font-family: var(--fuente-parrafos);
  font-size: 1.4rem;

}

main#productDetail h2 {
    text-align: center;
    font-family: var(--fuente-titulos);
    color: var(--crema);
    font-size: 2rem;
    margin-top: 30px;
}

main#productDetail section.imagenes-detalles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

main#productDetail div.card {
  width: 80%;
  padding: 15px;
  margin: 10px;
  height: 250px;
  border: 2px solid var(--verde-neon);
}

main#productDetail img {
  height: 200px;
}

main#productDetail div.detalles {
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
  width: 85%;
  
}

main#productDetail div ul {
  border: 2px solid var(--verde-neon);
}

main#productDetail div.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin : 15px
}


main#productDetail div button.btn-primary {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--crema);
    font-family: var(--fuente-titulos);
    font-size: 2rem;
    border: 1px solid var(--verde-neon);
    border-radius: 10px;
    transition: all 3ms;
}

main#productDetail div button a {
    color: var(--violeta-oscuro);
    text-decoration: none;
    font-family: var(--fuente-titulos);
    font-size: 1.5rem;
    padding: 10px;
}

main#productDetail div button.btn-primary:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--violeta-oscuro);
    font-family: var(--fuente-titulos);
    font-size: 2.5rem;
    border: 1px solid white;
    box-shadow: 0px 0 4px 2px var(--verde-oscuro);
    border-radius: 10px;
    transition: all 3ms;
}

main#productDetail div button.btn-primary:hover >a {
    color: var(--crema);
    font-size: 2rem;
}

@media (min-width: 480px) {
  main#productDetail div.card {
    width: 70%;
    padding: 10px;
    margin: 15px;
    height: 270px;
  }

  main#productDetail div.detalles {
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
    width: 77%;
  }
}

@media (min-width: 700px) {
  main#productDetail section.imagenes-detalles {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
  }

  main#productDetail div.card {
    width: 45%;
    height: 350px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
  }

  main#productDetail img {
    height: 300px;
  }

  main#productDetail div.detalles {
    width: 45%;
    height: 350px;
    overflow-y: scroll;
    margin-top: 25px;
    padding: 15px;
  }
}
