* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    background-color: var(--violeta-oscuro);
}

main section#toBuyDesktop {
    display: none;
}

main#productCart {
    padding: 10px;
}

main h2#tituloMiCompra {
    margin-top: 15px;
    text-align: center;
    font-family: var(--titulos);
    color: var(--crema);
}

main article.product--container {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 3px;
    margin: 10px;
    border: 2px solid var(--verde-claro);
    box-shadow: 0.5px 0 6px 2px var(--verde-oscuro);

}


main article.product--container div.photo--container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

main article.product--container div.photo--container img.product--container__image {
    width: 100%;
}

main article.product--container div i {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 20px;

}

/* producto y detalles */

/* div contendedor */

main div.box--container__productAndDetail {
    display: flex;
    margin-top: 10px;
    border: 1px solid black;
    width: 100%;
}



main span.span--left {
    display: flex;
    border-right: 1px solid black;
    width: 30%;
    padding-left: 3px;
    background-color: #e1dfdf;
}

main h3.productName {
    color: var(--crema);
    display: flex;
    justify-content: center;
    align-items: center;
}

main span.span--right {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 5px 0px;
    width: 70%;
    margin-top: 5px;
    margin-bottom: 5px;

}

/* Cantidad */

main div.box--container {
    display: flex;
    border: 1px solid black;
    width: 100%;
    margin-top: 1px;
}


main h3.amount {

    display: flex;
    justify-content: center;
    align-items: center;
}

main span.span--right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin-top: 10px;
    margin-bottom: 10px;

}

main div.box--button__rest {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 5px 0px;

}



main button.button--rest {
    width: 25px;
    border: 1px solid grey;
    box-shadow: 1px 1px 1px black;

}

main input.input--amount {
    text-align: center;
    border: none;
    width: 25px;

}

main button.button--add {
    width: 25px;
    border: 1px solid grey;
    box-shadow: 1px 1px 1px black;
}

/* Boton de agregar al carrito */

main#productCart button.addToCart {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--verde-claro);
    box-shadow: 3px 3px 5px var(--verde-oscuro);
    border-radius: 25px;
    margin: 30px auto 0px;
    width: 60%;
    max-width: 300px;
    height: 60px;

}

main#productCart button.addToCart a {
    font-family: var(--fuente-titulos);
    font-size: 180%;
    text-decoration: none;
    color: black;
    font-weight: bold;

}

/* tambien te puede interezar */

main#productCart section.moreInterest {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    background-color: white;
    border: 2px solid var(--verde-claro);
    box-shadow: 3px 3px 5px var(--verde-oscuro);

}

main#productCart section.moreInterest h2 {
    text-align: center;
    font-family: var(--fuente-titulos);
    font-size: var(--titulos);

}

main#productCart article.article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 1px;
    max-width: 40%;
    box-shadow: 2px 5px 5px black;

}

/* sombra de los articulos */
main#productCart article.article:hover {
    box-shadow: 2px 5px 7px rgb(62, 252, 5);
    border-color: rgb(32, 128, 3);
}

main#productCart article.article h4 {
    font-family: var(--fuente-titulos);
    text-align: center;
}

main#productCart article.article p {
    font-family: var(--fuente-parrafos);
}

main#productCart article.article h5 {
    text-align: center;
    font-family: var(--fuente-parrafos);
}

main#productCart article.article span {
    padding: 2px;
}

/* Seccion de finalizar compra  */

main#productCart section.toBuy {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    padding: 10px;
    background-color: white;
    border: 2px solid var(--verde-claro);
    box-shadow: 2px 2px px 2px var(--verde-oscuro);
}

main#productCart section.toBuy div {
    border: 1px solid black;
    padding: 3px;
    width: 60%;
    min-width: 200px;
    font-family: var(--fuente-titulos);
    font-weight: bold;

}

main#productCart section.toBuy a.payForm {
    margin: 8px 10px;
    padding: 5px;
    text-decoration: none;
    width: 80%;
    box-shadow: 0px 1px 2px black;
    color: black;
}

main#productCart section.toBuy button {
    border: 2px solid var(--verde-claro);
    background-color: var(--violeta-oscuro);
    color: var(--crema);
    margin-top: 15px;
    font-size: 40px;
    width: 70%;
    max-width: 200px;
    border-radius: 25px;
    box-shadow: 1px 2px 2px var(--verde-oscuro);


}

main#productCart section.toBuy a#btnBuy {
    margin: 8px 10px;
    padding: 5px;
    text-decoration: none;
    width: 80%;
    color: white;
}


/* Tablets y Large Smarphones */

@media (min-width: 481px) {

    main#productCart article.article {
        max-width: 25%;
    }

    main#productCart article.article4 {
        display: none;
    }

}

@media (min-width: 769px) {

    main h2#tituloMiCompra {
        margin-left: 15px;
        text-align: left;

    }

    main div#container--buyToDesktop {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    main article.product--container {
        display: flex;
        flex-direction: row;
        padding: 0px;
        width: 65%;

    }

    main#productCart section.toBuy {
        display: none;
    }


    main#productCart section#toBuyDesktop {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 0px;
        width: 35%;
        background-color: white;
        border: 1px solid var(--verde-claro);
        box-shadow: 0.5px 0 6px 2px var(--verde-oscuro);
        padding: 10px;
    }

    main#productCart section#toBuyDesktop div {
        border: 1px solid black;
        padding: 3px;
        width: 60%;
        min-width: 200px;
        font-family: var(--fuente-titulos);
        font-weight: bold;

    }

    main#productCart section#toBuyDesktop a.payForm {
        margin: 8px 10px;
        padding: 5px;
        text-decoration: none;
        width: 80%;
        color: black;
        box-shadow: 0px 1px 2px black;
    }

    main#productCart section#toBuyDesktop button {
        border: 2px solid var(--verde-claro);
        background-color: rgb(65, 65, 65);
        color: var(--crema);
        margin-top: 15px;
        font-size: 40px;
        width: 60%;
        border-radius: 25px;
        box-shadow: 1px 2px 2px var(--verde-oscuro);


    }

    main#productCart section#toBuyDesktop button a#btnBuy {
        color: white;
        text-decoration: none;
    }



    main article.product--container div.photo--container {
        width: auto;
        border: 1px solid black;
    }

    main article.product--container div i {
        display: none;

    }

    main div.box--container__productAndDetail {
        display: flex;
        flex-direction: column;
        margin-top: 0px;
        border: 1px solid black;
        width: 20%;
    }

    main span.span--left {
        display: flex;
        border-right: none;
        border-bottom: 1px solid black;
        width: 100%;
        padding-left: 3px;
    }

    main span.span--right {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;

    }

    main div.box--container {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 0px;
    }

    main div.box--button__rest {
        margin: 50%;

    }

    main div.box--container p {
        margin: 50%;
    }

}