main#register span.error {
    color : red;
}

main#register h4{
    font-family: var(--fuente-titulos);
    margin-bottom: 1rem;
    text-align: center;
    text-decoration:underline;
    letter-spacing: 0.1rem;
    font-size: 1.5rem;
    color: var(--violeta-oscuro);
    text-shadow: 10px 3px 15px  rgba(64, 57, 74, 0.7);
}

main#register .registro-form:hover {
    box-shadow: 3px 3px 7px 2px var(--verde-oscuro);
}

main#register .registro-form{
    background: lightgray;
    padding: 1rem;
    border-radius: 0.9rem;
    width: 100%;
    transition: all .5s ease;
}

main#register form {
    width: 75%;
    max-width: 350px;
    margin:2rem 0 4rem 0;
}

main#register .registro-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    margin: 0 auto;
    padding: 15px;
}

main#register h6.datos-box{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 0.3rem;
    font-family: var(--otros);
    font-size: 0.8rem;
    transition: all .5s ease;
}

main#register .datos-box:hover{
    text-decoration:underline;
    letter-spacing: 0.05rem;
}

main#register .input-container,
main#register .button-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 0.3rem;
    width: 100%;
}

main#register .button-container{
    border: none;
    align-items: center;
    padding: 0.5rem;
    /* margin-top: 0.4rem; */
    border-radius: 8px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    font-family: var(--fuente-parrafos);
    font-size: 1.2rem;
    background-color: var(--crema);
    box-shadow: 0 0 10px var(--violeta-oscuro);
    margin-top: 1rem;
    /* color: var(--violeta-oscuro); */
    text-shadow: 1px 1px 5px rgba(0,0,0,0.3);
    transition: all 1s ease;
}

main#register a.register {
    text-decoration: none;
    color: var(--violeta-oscuro);
    width: 100%;
}

main#register .button-container:hover{
    background-color: var(--violeta-oscuro);
    box-shadow: 0px 0 4px 2px var(--verde-oscuro);
    color: var(--crema);
    letter-spacing: 0.1rem;
    text-decoration: underline;
}

main#register .button-container:hover >a.register{
    color: var(--crema);
}

main#register .input-style,
main#register .input-select{
    border: none;
    border-radius: 8px;
    height: 2rem;
    padding: 0 0.5rem;
    outline: none;
    box-shadow: 0 1px 5px rgba(0,0,0,0.5) inset;
}

main#register .input-style::placeholder{
    color: rgba(0,0,0,0.3);
}

main#register p{
    margin: 0.3rem;
    padding: 0.3rem;
    font-size: 0.8rem;
    text-align: end; 
    font-family: var(--otros);
}

/* admin  */
/* agregar image */
div.input-file{
    margin-bottom: 1.5rem;
    
}
input[type=file]::file-selector-button {
    border: none;
    height: 2rem;
    cursor: pointer;
    border-radius: 8px;
    font-family: var(--fuente-parrafos);
    font-size: 0.95rem;
    margin: 0 0.5rem 0 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: var(--verde-oscuro);
    color: var(--violeta-oscuro);
    transition: all .5s ease-in-out;
}
input[type=file]::file-selector-button:hover {
    background-color: var(--violeta-oscuro);
    color: var(--crema);
    letter-spacing: 0.05rem;
    text-decoration: underline;
}
/* description general */
textarea {
    resize: none !important;
	/* background: var(--crema); */
	width: 98%;
	height: 50px;
	min-height: 80px;
	padding: 8px 10px;
	margin: 0 auto;
	border: none;
	border-radius: 8px;
	font-family: var(--fuente-parrafos);
	font-size: 1rem;
	line-height: 22px;
	word-wrap: break-word;
	white-space: pre-wrap;
	display: block;
	outline: none;
	box-shadow: 0 1px 5px rgba(0,0,0,0.5) inset;
}
textarea:focus {
	border: 1px solid var(--verde-oscuro);
}

/* price-descount */
.contaner-price-descount{
    position: relative;
    left: 0.2rem;
    width: 25%;
    display: flex;
    /* justify-content: end; */
    
}
.container-price-A{
    margin:0 100% 0 45%;
}
.title-tecnicalEspecific{
    display: block;
    text-align: center;
    font-size: 1rem;
    margin-top: 1rem;
}
.cpu {
    position: relative;
    right: 0.2rem;
    display: block;
    min-width: 70px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.container-price-b{
    margin: 0 auto;
}
/* image avatar en userEdit */
/* div.user-Image-container{
    
} */
div.user-Image-container{
    justify-content: center;
    align-items: center;
    
}
div.user-Image-container img{
    width: 8rem ;
    height: 8rem;
    border-radius: 8px;
    box-shadow:0 0px 5px var(--violeta-oscuro);
    transition: all 1s ease-in-out;
}
div.user-Image-container img:hover{
    
    box-shadow: 4px 4px 20px var(--violeta-oscuro);
}

@media (min-width: 415px){
    .cpu {
        
        display: flex;
        overflow: visible;
    }
}