@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    padding: 3rem;
}

h4{
    font-family: var(--fuente-titulos);
    margin-bottom: 1rem;
    text-align: center;
}

.registro-form{
    background: lightgray;
    padding: 1rem;
    border-radius: 0.9rem;
    box-shadow: 3px 3px 7px;
    width: 100%;
}

.registro-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    margin: 15px;
    padding: 15px;
}

.datos-box{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 0.3rem;
    font-family: var(--otros);
}

.input-container,
.button-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 0.3rem;
    width: 100%;
}

.button-container{
    border: none;
    align-items: center;
    padding: 0.5rem;
    margin-top: 0.4rem;
    border-radius: 0.2rem;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}

.input-style,
.input-select{
    border: none;
    border-radius: 0.2rem;
    height: 2rem;
    padding: 0 0.5rem;
    outline: none;
}

.input-style::placeholder{
    color: lightgray;
}

p{
    margin: 0.3rem;
    padding: 0.3rem;
    font-size: 0.8rem;
    text-align: end; 
}