main.userHome{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

main.userHome section {
    font-family: var(--fuente-parrafos);
    width: 75%;
    max-width: 350px;
    margin:4rem 0 6.5rem 0;
}

main.userHome  .title{
    font-family: var(--fuente-titulos);
    margin-bottom: 2rem;
    text-align: center;
    text-decoration:underline;
    letter-spacing: 0.1rem;
    font-size: 1.5rem;
    color: var(--violeta-oscuro);
    text-shadow: 10px 3px 15px  rgba(64, 57, 74, 0.7);
}

main.userHome  .form-container{
    background-color: lightgray;
    padding: 1rem;
    border-radius: 0.8rem;
    box-shadow: 3px 3px 5px;
    width: 100%;
    transition: all .5s ease;
}
main.userHome  .form-container:hover{
    box-shadow: 3px 3px 7px 2px var(--verde-oscuro);
}

main.userHome .btn-userHome, main.userHome .btn-userHomeDelete{
    border: none;
    align-items: center;
    /* padding: 0.3rem; */
    margin: 2rem 0 2rem 0;
    border-radius: 8px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 1.2rem;
    background-color: var(--crema);
    box-shadow: 0 0 10px var(--violeta-oscuro);
    margin-top: 1rem;
    
    text-shadow: 1px 1px 5px rgba(0,0,0,0.3);
    transition: all 1s ease;
}


main.userHome .btn-userHome a ,main.userHome .btn-userHomeDelete a{
    text-decoration: none;
    color: var(--violeta-oscuro);
    font-family: var(--fuente-parrafos);
    display: flex;
    justify-content: center;
    transition: all 1s ease;
    padding: 0.3rem 0 0.3rem 0;
}
main.userHome .btn-userHomeDelete p.deleteUserBtn{
    text-align: center;
    color: var(--violeta-oscuro);
    font-family: var(--fuente-parrafos);
    padding: 0.3rem 0 0.3rem 0;
    transition: all 1s ease;
}
main.userHome .btn-userHomeDelete:hover{
    background-color: rgb(255, 0, 0);
    box-shadow: 0px 0 4px 2px var(--verde-oscuro);
    color: var(--crema);
    letter-spacing: 0.1rem;
    text-decoration: underline;
}
main.userHome .btn-userHome:hover{
    background-color: var(--violeta-oscuro);
    box-shadow: 0px 0 4px 2px var(--verde-oscuro);
    color: var(--crema);
    letter-spacing: 0.1rem;
    text-decoration: underline;
}

main.userHome .btn-userHome a:hover,main.userHome .btn-userHomeDelete a:hover{
    color: var(--crema);
}
main.userHome .btn-userHomeDelete p.deleteUserBtn:hover{
    color: var(--crema)!important;
}

/* ventna Em */
main.userHome div.userVentanaEmerg{
    display: none; /* Ocultar la ventana al principio */
    position: fixed; /* Posición fija para que se muestre sobre todo */
    z-index: 1000; /* Z-index alto para que esté en primer plano */
    left: 0;
    top: 0;
    width: 100%; /* Ancho del 100% */
    height: 100%; /* Altura del 100% */
    /* overflow: auto; */ /* Agregar un desplazamiento cuando la ventana sea demasiado grande */
    background-color: rgba(0,0,0,0.4); /* Color de fondo oscuro para oscurecer el contenido detrás de la ventana */
}
main.userHome div.userventanaContenido{
    background-color: var(--crema);
    margin: 50% auto; /* Centrar vertical y horizontalmente */
    padding: 20px;
    border: 2px solid var(--violeta-oscuro);
    border-radius: 16px;
    width: 60%;
}
main.userHome div.userventanaContenido:hover{
    box-shadow: 0.5px 0 6px 2px var(--verde-oscuro);
}

main.userHome div.userVentanaEmerg div.userventanaContenido h3.userVentanaTitle{
    text-align: center;
    color: var(--violeta-oscuro);
    font-family: var(--fuente-parrafos);
}
main.userHome div.userVentanaEmerg div.userventanaContenido div.userVentanaCerrarDestroy{
    
    text-align: center;
}
main.userHome div.userVentanaEmerg div.userventanaContenido div.userVentanaCerrarDestroy .userVentanaCerrarEm{
    margin-bottom: 0.2rem !important;
    padding: .2rem .6rem;
}





@media (min-width: 659px){
    main.userHome div.userVentanaEmerg div.userventanaContenido div.userVentanaCerrarDestroy{
        display: flex;
        justify-content: space-evenly;
        margin: 1rem 1rem 1rem 1rem;
    }
    main.userHome div.userVentanaEmerg div.userventanaContenido div.userVentanaCerrarDestroy .userVentanaCerrarEm{
        margin: 0 !important;
        padding: .2rem .6rem;
    }
}

@media (min-width: 750px){
    main.userHome div.userventanaContenido{
        
        margin: 25% auto; /* Centrar vertical y horizontalmente */
        
    }
}