<!DOCTYPE html>
<html lang="en">
    
<%- include("../partials/head") %>

<title>Admin - agregar producto</title>
<body>
    <!-- header -->
    <%- include("../partials/header") %> 
    <!-- fin del header -->

    <main id="register">
        <div class="registro-container">
            <form action="" method="POST" enctype="multipart/form-data">
                
                <div class="registro-form">
    
                    <h4>Agregar producto</h4>
                    <!-- nombre del producto -->
                    <div class="input-container">
                        <h6  class="datos-box">Nombre del producto:</h6>
                        <input class="input-style" type="text" name="name" id="name" placeholder="Ingresar nombre...">
                    </div>
                    <!-- Marca del producto -->
                    <div class="input-container">
                        <h6 class="datos-box">Marca del producto:</h6>
                        <input class="input-style" type="text" name="brand" id="brand" placeholder="Ingresar la marca...">
                    </div>
    
                    <!-- agregar categoria -->
                    <div class="input-container">
                        <h6 class="datos-box">Categoria:</h6>
                        <select name="category" id="category" class="input-select">
                            <option value="" hidden selected>Elija su categoria</option>
                            <option value="Notebooks">Notebooks</option>
                            <option value="Computadores">Computadores</option>
                            <option value="Componentes-de-PC">Componentes de PC</option>
                            <option value="Monitores">Monitores</option>
                            <option value="Consolas">Consolas</option>
                        </select>
                    </div>
                    <!-- agregar sub categoria -->
                    <div class="input-container">
                        <h6 class="datos-box">Sub-categoria:</h6>
                        <input class="input-style" type="text" name="lastname" placeholder="Ingresar Sub-categoria">
                    </div>
                    <!-- price -->
                    <!-- descount -->
                    <div class="contaner-price-descount">
                        <div class="input-container container-price-A">
                            <h6 class="datos-box ">Precio:</h6>
                            <input class="input-style" type="text" name="price" id="price" placeholder="Precio">
                        </div>
                        <div class="input-container container-descount-A">
                            <h6 class="datos-box">Descuento:</h6>
                            <input class="input-style" type="text" name="discount" id="discount" placeholder="Descuento">
                        </div>
                    </div>
                    <div class="contaner-price-descount container-price-b">
                        <div class="input-container ">
                            <h6 class="datos-box ">Stock:</h6>
                            <input class="input-style" type="text" name="stock" id="stock" placeholder="Stock">
                        </div>
                    </div>
    
                    <!-- ESPECIFICACION TECNICA -->
                    <h6 class="datos-box title-tecnicalEspecific">Especificaciones tecnicas</h6>
                    <!-- description general -->
                    <div class="input-container">
                        <h6 class="datos-box">Descripción:</h6>
                        <textarea name="description" id="description"  placeholder="Descripción del producto..."></textarea>
                    </div>
    
                    <div class="contaner-price-descount">
                        <div class="input-container container-price-A">
                            <h6 class="datos-box cpu">CPU:</h6>
                            <input class="input-style" type="text" name="cpu" id="cpu" placeholder="CPU">
                        </div>
                        <div class="input-container container-descount-A">
                            <h6  class="datos-box cpu">Placa/Grafica:</h6>
                            <input class="input-style" type="text" name="graficCard" id="graphic-card" placeholder="Placa Grafica">
                        </div>
                    </div>
                    <div class="input-container">
                        <h6 class="datos-box">Sistemas operativos:</h6>
                        <select name="so" id="so" class="input-select" >
                            <option value="" hidden selected>Elija los SO:</option>
                            <option value="Windows">Windows</option>
                            <option value="Linux">Linux</option>
                            <option value="MacOS">MacOS</option>
                            <option value="Ubuntu">Ubuntu Linux</option>
                        </select>
                    </div>
                    <!-- memoria/almacenamiento -->
                    <h6 class="datos-box title-tecnicalEspecific">Memorias</h6>
                    <div class="contaner-price-descount">
                        <div class="input-container container-price-A">
                            <h6 class="datos-box cpu">RAM/tipo:</h6>
                            <input class="input-style" type="text" name="ram" id="ram" placeholder="RAM">
                        </div>
                        <div class="input-container container-descount-A">
                            <h6  class="datos-box cpu">Capacidad/tipo:</h6>
                            <input class="input-style" type="text" name="capacity" id="capacity" placeholder="Capacidad/tipo">
                        </div>
                    </div>
    
                    <!-- conectivilidad -->
                    <h6 class="datos-box title-tecnicalEspecific">Conectivilidad</h6>
                    <div class="contaner-price-descount">
                        <div class="input-container container-price-A">
                            <h6 class="datos-box cpu">Puertos:</h6>
                            <input class="input-style" type="text" name="puertos" id="ports" placeholder="Puertos">
                        </div>
                        <div class="input-container container-descount-A">
                            <h6  class="datos-box cpu">Puertos HDMI:</h6>
                            <input class="input-style" type="text" name="hdmi" id="hdmi" placeholder="Puertos HDMI">
                        </div>
                    </div>
                    <div class="contaner-price-descount">
                        <div class="input-container container-price-A">
                            <h6 class="datos-box cpu">Puertos Ethernet:</h6>
                            <input class="input-style" type="text" name="ethernet" id="ethernet" placeholder="Puertos Ethernet">
                        </div>
                        <div class="input-container container-descount-A">
                            <h6  class="datos-box cpu">Puertos USB:</h6>
                            <input class="input-style" type="text" name="usb" id="usb" placeholder="Puertos USB">
                        </div>
                    </div>
                    <div class="contaner-price-descount">
                        <div class="input-container container-price-A">
                            <h6 class="datos-box cpu">WIFI:</h6>
                            <input class="input-style" type="text" name="wifi" id="wifi" placeholder="WIFI">
                        </div>
                        <div class="input-container container-descount-A">
                            <h6  class="datos-box cpu">WebCam:</h6>
                            <input class="input-style" type="text" name="webCam" id="webCam" placeholder="WebCam">
                        </div>
                    </div>
                    <div class="contaner-price-descount container-price-b">
                        <div class="input-container ">
                            <h6 class="datos-box ">Bluetooth:</h6>
                            <input class="input-style" type="text" name="bluetooth" id="bluetooth" placeholder="Bluetooth">
                        </div>
                    </div>
                    <!-- pantalla -->
                    <h6 class="datos-box title-tecnicalEspecific">Pantalla</h6>
                    <div class="contaner-price-descount">
                        <div class="input-container container-price-A">
                            <h6 class="datos-box cpu">Tamaño:</h6>
                            <input class="input-style" type="text" name="screenSize" id="screen-size" placeholder="Tamaño">
                        </div>
                        <div class="input-container container-descount-A">
                            <h6  class="datos-box cpu">Tipo display:</h6>
                            <input class="input-style" type="text" name="display" id="display" placeholder="Tipo-display">
                        </div>
                    </div>
                    <div class="contaner-price-descount">
                        <div class="input-container container-price-A">
                            <h6 class="datos-box cpu">resolucion:</h6>
                            <input class="input-style" type="text" name="resolution" id="resolution" placeholder="resolucion">
                        </div>
                        <div class="input-container container-descount-A">
                            <h6  class="datos-box cpu">Conección:</h6>
                            <input class="input-style" type="text" name="Conection" id="Conection" placeholder="Conección">
                        </div>
                    </div>
                    <!-- dimenciones -->
                    <h6 class="datos-box title-tecnicalEspecific">Dimenciones</h6>
                    <div class="contaner-price-descount">
                        <div class="input-container container-price-A">
                            <h6 class="datos-box cpu">Peso:</h6>
                            <input class="input-style" type="text" name="weight" placeholder="resolucion">
                        </div>
                        <div class="input-container container-descount-A">
                            <h6  class="datos-box cpu">Alto:</h6>
                            <input class="input-style" type="text" name="high" id="high" placeholder="Alto">
                        </div>
                    </div>
                    <div class="contaner-price-descount">
                        <div class="input-container container-price-A">
                            <h6 class="datos-box cpu">Ancho:</h6>
                            <input class="input-style" type="text" name="width" id="width" placeholder="Ancho">
                        </div>
                        <div class="input-container container-descount-A">
                            <h6  class="datos-box cpu">Profundidad:</h6>
                            <input class="input-style" type="text" name="depth" id="depth" placeholder="Profundidad">
                        </div>
                    </div>
    
                    <!-- agregar image -->
                    <div class="input-container input-file">
    
                        <h6 class="datos-box">Imagenes del producto:</h6>
                        <input class="input-style-file" accept="image/png,image/jpeg" type="file"  name="images" id="image" multiple>
                        
                    </div>
    
                    <!-- boton de enviar -->
                    <button class="button-container" type="submit">Agregar</button>
                </div>
            </form>
        </div>
    </main>
    
    <!-- footer -->
    <%- include("../partials/footer") %> 
    <!-- fin del footer -->
    <%- include("../partials/scripts") %>
</body>
</html>