<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/carritoDeCompras.css">
    <title>Carrito de Compras</title>
</head>
<body>
    <header></header>

    <main>
        <h2 class="tituloMiCompra">Mi compra</h2>

        <div class="product-container">
            <img src="" alt="">
        </div>
    </main>

    <footer></footer>
    
</body>
</html>