<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="">
    <title>Progamer</title>
</head>
<body>
    <header>
        <h3>HEADER</h3>
    </header>
    <main>
        <!-- banner -->
        <section class="banner">
            <div class="banner-select">
                <img  src="/images/banner/b-01.jpg" alt="Banner1" class="img-banner1">
                <img src="/images/banner/b-02.jpg" alt="Banner2" class="img-banner2">
                <img src="/images/banner/b-03.png" alt="Banner3" class="img-banner3">
            </div>
        </section>
        <!-- ofertas -->
        <section class="title-section">
            <div class="title-container">
                <h2>
                    Ofertas
                </h2>
                <a href="">Ver todas</a>
                <hr>
            </div>
        </section>
        <!-- productos -->
        <section class="porducts-offerts">
            <article class="product">
                <div class="photo-container">
                    <a href="">
                        <img src="images/monitor.jpg" alt="notebook">
                    </a>
                    <!-- moto ofert y heard -->
                    <i class="fa-regular fa-heart"></i>
                </div>
                <a href=""><h3>Nombre del producto</h3></a>
                <div class="price">
                    <h3>$XXX</h3>
                    <span class="numb-offert">20% OFF</span>
                </div>
                <p>envio gratis...</p>
            </article>
            <article class="product">
                <div class="photo-container">
                    <a href="">
                        <img src="images/monitor.jpg" alt="notebook">
                    </a>
                    <!-- moto ofert y heard -->
                    <i class="fa-regular fa-heart"></i>
                </div>
                <a href=""><h3>Nombre del producto</h3></a>
                <div class="price">
                    <h3>$XXX</h3>
                    <span class="numb-offert">10% OFF</span>
                </div>
                <p>envio gratis...</p>
            </article>
            <article class="product">
                <div class="photo-container">
                    <a href="">
                        <img src="images/monitor.jpg" alt="notebook">
                    </a>
                    <!-- moto ofert y heard -->
                    <i class="fa-regular fa-heart"></i>
                </div>
                <a href=""><h3>Nombre del producto</h3></a>
                <div class="price">
                    <h3>$XXX</h3>
                    <span class="numb-offert">30% OFF</span>
                </div>
                <p>envio gratis...</p>
            </article>
            
        </section>
        <!-- productos destacados -->
        <section class="title-section">
            <div class="title-container">
            
                <h2>
                        Productos destacados
                </h2>
                
                <hr>
            </div>
        </section>
        <!-- productos -->
        <section class="porducts-offerts">
            <article class="product">
                <div class="photo-container">
                    <a href="">
                        <img src="images/monitor.jpg" alt="notebook">
                    </a>
                    <!-- moto ofert y heard -->
                    <i class="fa-regular fa-heart"></i>
                </div>
                <a href=""><h3>Nombre del producto</h3></a>
                <div class="price-product">
                    <h3>$XXX</h3>
                    <!-- <span class="numb-offert">20% OFF</span> -->
                </div>
                <p>envio gratis...</p>
            </article>
            <article class="product">
                <div class="photo-container">
                    <a href="">
                        <img src="images/monitor.jpg" alt="notebook">
                    </a>
                    <!-- moto ofert y heard -->
                    <i class="fa-regular fa-heart"></i>
                </div>
                <a href=""><h3>Nombre del producto</h3></a>
                <div class="price-product">
                    <h3>$XXX</h3>
                    <!-- <span class="numb-offert">20% OFF</span> -->
                </div>
                <p>envio gratis...</p>
            </article>
            <article class="product">
                <div class="photo-container">
                    <a href="">
                        <img src="images/monitor.jpg" alt="notebook">
                    </a>
                    <!-- moto ofert y heard -->
                    <i class="fa-regular fa-heart"></i>
                </div>
                <a href=""><h3>Nombre del producto</h3></a>
                <div class="price-product">
                    <h3>$XXX</h3>
                    <!-- <span class="numb-offert">20% OFF</span> -->
                </div>
                <p>envio gratis...</p>
            </article>
        </section>
        <!-- modos de pago y mas -->
        <section class="payMode-section">
            <article class="modes">
                <div class="modes-container">
                    <div class="text-modes">
                        <a href=""><i class="fa-solid fa-credit-card"></i></a>
                        <p class="text">Tarjeta de crédito</p>
                        <a class="verMas" href=""><p>Ver mas</p></a>
                    </div>
                    <div class="text-modes">
                        <a href=""><i class="fa-solid fa-truck-fast"></i></a>
                        <p class="text">Forma de envio</p>
                        <a class="verMas" href=""><p>Ver mas</p></a>
                    </div>
                    <div class="text-modes">
                        <a href=""><i class="fa-regular fa-credit-card"></i></a>
                        <p class="text">Tarjeta de débito</p>
                        <a class="verMas" href=""><p>Ver mas</p></a>
                    </div>
                    <div class="text-modes">
                        <a href=""><i class="fa-solid fa-money-bill-1-wave"></i></a>
                        <p class="text">Efectivo</p>
                        <a class="verMas" href=""><p>Ver mas</p></a>
                    </div>
                </div>
                <div class="more-info">
                    <a href=""><i class="fa-solid fa-plus"></i></a>
                </div>
            </article>
        </section>
        <section class="banner-bottom">
            <div class="img-ofert">
                <img src="images/banner/b-ofert.jpg" alt="Banner-oferta" class="b-ofert">
            </div>
        </section>
        <section class="title-register">
            <div class="register-container">
                <hr class="line-left">
                <h2 class="register-prom">
                    Recibí nuestras promos
                </h2>
                <hr class="line-rigth">
            </div>
        </section>
        <section>
            <!-- form de registro -->
            <form action="" method="">
                <div class="form">
                    <div class="input-container">
                        <input class="input-style" type="email" name="email" placeholder="Ingrese su email*">
                        <span class="error-message">Debe ingresar su email</span>
                    </div>
                    <div class="input-container">
                        <input class="input-style" type="text" name="name" placeholder="Nombre*">
                        <span class="error-message">Debe ingresar su nombre</span>
                    </div>
                    <div class="button-container">
                        <button type="submit" class="btn btn-submit">Suscribite</button>
                        <span class="error-message text-center">Los datos no son correctos</span>
                    </div>
                    <!-- <div class="img-form">
                        <img src="" alt="">
                    </div> -->
                </div>
            </form>
        </section>
    </main>
    <footer>
        <h3>FOOTER</h3>
    </footer>
</body>
</html>