<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/login.css">
    <title>Login</title>
</head>
<body>
    <!-- <header></header> -->
    <main>
            <div class="form-container">
            <h4>Iniciar sesión con mi email</h4>
            <form action="" method="">
                <div class="form">
                    <div class="input-container">
                        <input class="input-email" type="email" name="email" placeholder="Ingresar correo...">
                    </div>
                    <div class="input-container">
                        <input class="input-clave" type="password" name="pass" placeholder="Ingresar contraseña...">
                    </div>
                    <div class="span-container">
                        <span> <a href="../register.html">Registrarme</a></span>
                        <span> <a href="">Olvide mi clave</a></span>
                    </div>
                    <div class="login-container">
                        <button type="submit" class="btn-login">Login</button>
                    </div>
                    <h4>Iniciar sesión con....</h4>
                    <div >
                        <button type="submit" class="button-redes"><i class="fa-brands fa-facebook"></i> Registrarme con Facebook</button>
                    </div>
                    <div >
                        <button type="submit" class="button-redes"><i class="fa-brands fa-google"></i> Registrarme con Google</button>
                    </div>
                </div>
            </form> 
        </div>
    </main>
   <!--  <footer></footer> -->
</body>
</html>