<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/productDetail.css">
    <title>productDetail</title>
</head>

<body id="productDetail">
    <h2>Home / Notebooks / NOTEBOOK BANGHO MAX L4 I3 8GB SSD 240GB FREEDOS 14"</h2>
    <article>
        <h3>NOTEBOOK BANGHO MAX L4 I3 8GB SSD
            240GB FREEDOS 14"</h3>
        <div>
            <span>
                <img src="/images/Notebook/NOTEBOOK-BANGHO-MAX-2.webp" alt="" width="100%">
                <img src="/images/Notebook/NOTEBOOK-BANGHO-MAX-3.webp" alt="" width="100%">
                <img src="/images/Notebook/NOTEBOOK-BANGHO-MAX-4.webp" alt="" width="100%">
            </span>
            <span>
                <img src="/images/Notebook/NOTEBOOK-BANGHO-MAX.webp" alt="" width="100%">
            </span>
        </div>
        <section>

            <div>
                <p>$131449.00</p>
                <p>Precio de lista</p>
                <p>$197173.50</p>
            </div>

            <div>
                <img src="/images/ahora-12.png" alt="" width="100%">
                <p>12 cuotas sin interés de $16431.13 a precio de lista</p>
                <p><a href="">Ver cuotas</a></p>
            </div>

            <div>
                <i class="fa-light fa-circle-check"></i>
                <p>STOCK EN LA WEB</p>
                <p>Solo para venta por web</p>
            </div>

            <div>
                <i class="fa-light fa-circle-xmark"></i>
                <p>SIN STOCK EN EL LOCAL</p>
                <p>Solo para venta presencial</p>
            </div>

            <div>
                <i class="fa-solid fa-house"></i>
                <p>RETIRO ¡GRATIS!</p>
                <p>LANUS (PROVINCIA)</p>
            </div>

            <div>
                <i class="fa-solid fa-car-side"></i>
                <p>LANUS (PROVINCIA)</p>
                <p><a href="">Ver costo de envio</a></p>
            </div>

            <div>
                <p>Agregar al carrito</p>
                <span>
                    <button>
                        -
                    </button>

                    <input type="number" placeholder="1">

                    <button>
                        +
                    </button>
                </span>
            </div>
        </section>

        <section>
            <h3>Especificaciones tecnicas</h3>
            <div>
                <p>General</p>
                <hr>
                <div>
                    <p>Color: Negro</p>
                    <p>Tipo:Notebook</p>
                    <p>Sistema Operativo: FreeDos</p>
                    <p>Tipo De CPU: Intel</p>
                    <p>Modelo CPU: Intel I3 10110U</p>
                    <p>Modelo GPU: Gráficos UHD Inte</p>
                </div>
            </div>

            <div>
                <p>Conectividad</p>
                <hr>
                <div>
                    <p>Puerto HDMI: Si</p>
                    <p>Puertos USB 2.0: x1</p>
                    <p>Puertos USB 3.1: x1</p>
                    <p>Puertos USB 3.1 Type-C: x1</p>
                    <p>Puertos Ethernet: Si</p>
                    <p>Bluetooth: Si</p>
                    <p>WIFI: Si</p>
                    <p>Lectora: No</p>
                    <p>WebCam: Si</p>
                    <p>Idioma Del Teclado: Españo</p>
                    <p>Pad Numerico: No</p>
                </div>
            </div>

            <div>
                <p>Pantalla</p>
                <hr>
                <div>
                    <p>Tamaño De La Pantalla: 14"</p>
                    <p>Tipo De Display: HD</p>
                    <p>Resolucion: 1366 X 768</p>
                </div>
            </div>

            <div>
                <p>Memoria</p>
                <hr>
                <div>
                    <p>Formato De Memorias: SODIMM</p>
                    <p>Generacion De Memorias: DDR4</p>
                    <p>RAM Integrada: 8GB</p>
                    <p>Slot Adicional De RAM</p>
                    <p> Disponible: 1</p>
                </div>
            </div>

            <div>
                <p>Almacenamiento</p>
                <hr>
                <div>
                    <p>Capacidad: SSD240 GB</p>
                    <p>Lector De Memoria: Si</p>
                </div>
            </div>

            <div>
                <p>Dimenciones</p>
                <hr>
                <div>
                    <p>Peso: 1.35 Kg</p>
                    <p>Ancho: 324.9 Mm</p>
                    <p>Profundidad: 219.5 Mm</p>
                    <p>Alto: 19.4 Mm</p>
                </div>
            </div>
            <section>

    </article>

    <!-- Productos Destacados -->
    



</body>

</html>